doctype html

html(lang="en")
    head
        block meta
            meta(name="viewport", content="width=device-width, initial-scale=1")
        title
            block title
                | Harris Lapiroff
        block styles
        block scripts
    body
        block body
