doctype html

html(lang="en")
    head
        block meta
        title
            block title
                | Harris Lapiroff
        block styles
        block scripts
    body
        block body
