\:root
    font-size: 10px

body, html
    margin: 0
    padding: 0

body
    font-family: var(--font-family-base)
    font-size: var(--font-size-base)
    font-weight: var(--font-weight-normal)
    line-height: var(--line-height-base)
    background: var(--color-background)
    color: var(--color-base)

h1, h2, h3, h4, h5, h6
    font-size: var(--font-size-base)
    font-weight: inherit
    line-height: var(--line-height-base)
    margin: 0
    padding: 0

a
    color: var(--color-link)
    text-decoration: none

    &:hover
        text-decoration: underline
        text-decoration-color: var(--color-base)

ul, ol, dl, p
    margin: var(--line-height-base) 0
    padding: 0

strong
    font-weight: var(--font-weight-bold)

input[type="text"], input[type="search"], input[type="number"], button
    background: transparent
    border: 1px solid var(--color-base)
    color: inherit
    font-size: inherit
    line-height: inherit
    padding: calc(var(--line-height-base) / 4 - 1px) calc(1ch - 1px)
    margin: 0
    border-radius: 2px

button
    background-color: var(--color-base)
    color: var(--color-background) !important
    opacity: 0.9
    &:hover
        opacity: 1
    &:active
        background-color: var(--color-background)
        color: var(--color-base) !important
