<!doctype html>
<html>
    <head>
        <title>{{ name }} — {{ date | date:"%A, %B %e, %Y" }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <a href="/dance/events/">&larr; Back to Events</a>
        <h1>{{ name }} — {{ date | date:"%A, %B %e, %Y" }}</h1>
        <h2>Program</h2>
        {% assign count = 0 %}
        {% for section in program %}
            {% assign count = count | plus:"1" %}
            <h3>{{ count }}</h3>
            <dl>
                {% for dance in section %}
                    <dt>{{ dance.title }}</dt>
                    <dd>{{ dance.author }}</dd>
                    {% if dance.notes %}
                        <dd><em>Notes: {{ dance.notes }}</em></dd>
                    {% endif %}
                {% endfor %}
            </dl>
        {% endfor %}
        <h2>Notes</h2>
        {{ content }}
    </body>
</html>
