---
layout: base
---

<div class="resume-section">
    <h2 class="resume-section-title">Employment Experience</h2>
    {% for item in site.data.resume.employment %}
        <div class="resume-item">
            <header class="resume-item-title">
                <strong>{{ item.title }}</strong>
                <em class="text-muted">{{ item.org}}</em>
                {% if item.url %}
                    <a href="{{ item.url }}">{{ item.url }}</a>
                {% endif %}
                <span class="pull-right text-muted">{{ item.dates }}</span>
            </header>
            <p class="resume-item-description">
                {{ item.description }}
            </p>
        </div>
    {% endfor %}
</div>

<div class="resume-section">
    <h2 class="resume-section-title">Other Experience</h2>
    {% for item in site.data.resume.other %}
    <div class="resume-item">
        <header class="resume-item-title">
            <strong>{{ item.title }}</strong>
            <em class="text-muted">{{ item.org}}</em>
            {% if item.url %}
            <a href="{{ item.url }}">{{ item.url }}</a>
            {% endif %}
            <span class="pull-right text-muted">{{ item.dates }}</span>
        </header>
        <p class="resume-item-description">
            {{ item.description }}
        </p>
    </div>
    {% endfor %}
</div>

<div class="resume-section">
    <h2 class="resume-section-title">Skills</h2>
    <p>
        {% for item in site.data.resume.skills %}
            {{ item.skill }} <span class="text-muted">({{ item.years }} year{% if item.years != "1" %}s{% endif %})</span>{% if forloop.last == false %},{% endif %}
        {% endfor %}
    </p>
</div>

<div class="resume-section">
    <h2 class="resume-section-title">Education</h2>
    <p><strong>Oberlin College</strong>, Oberlin OH — B.A. Mathematics, 2010</p>
</div>
<div class="resume-section">
    <p class="text-center">References available upon request.</p>
</div>
