---
layout: base
title: Portfolio
---

<div class="portfolio-list">
	{% for post in site.categories.portfolio %}
		<div class="portfolio-item">
			<div class="row">
				<div class="col-md-6">
					<div class="portfolio-thumb">
						<img src="{{ site.url }}{{ post.thumb }}" class="img-responsive" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="portfolio-item-content">
						<h2>{{ post.title }} <small>{{ post.date | date:"%Y" }}</small></h2>
						{{ post.content }}
						<a href="{{ post.link }}" target="_new" class="btn btn-default">
							{% if post.button_text %}{{ post.button_text }}{% else %}Visit Website{% endif %}
						</a>
					</div><!-- /.portfolio-item-content -->
				</div>
			</div><!-- /.row -->
		</div><!-- /.portfolio-item -->
	{% endfor %}
</div><!-- /.portfolio-list -->
