mixin archive-list(posts)
    ul.archive-list
        each post in posts
            li.archive-list__item
                a.archive-list__item-link(href=post.url)
                    span.archive-list__item-title= post.data.title
                    = " "
                    span.archive-list__item-date= filters.dateFormat(post.date, '%B %d, %Y')

mixin archive-list-by-year(posts_)
    - const posts = posts_.toSorted((a, b) => b.date - a.date)
    - const years = new Set(posts.map(p => p.date.getFullYear()))
    each year in Array.from(years)
        h2= year
        +archive-list(posts.filter(p => p.date.getFullYear() === year))
