.archive-list__item-link
    display: block
    &:hover
        text-decoration: none

.archive-list__item-title
    color: var(--color-base)
    font-weight: var(--font-weight-bold)
    a:hover > &
        color: var(--color-link-hover)
        text-decoration: underline

.archive-list__item-date
    display: inline-block // Avoid linebreaks
    color: var(--color-text-muted)
