@import ../mixins

.blog-post
    &__header-permalink
        color: inherit
        &::before
            display: block
            float: left
            margin-left: -1.8em
            width: -1.5em
            content: "¶"
        &:hover
            color: var(--color-link-hover)
            text-decoration: none
    &__content
        margin-right: calc(var(--blog-post-sidebar-width) + var(--blog-post-column-gap))

        +med-dn
            margin-right: 0

        p, ul, ol
            margin-top: 0
            margin-bottom: var(--line-height-base)

        li
            margin-bottom: calc(var(--line-height-base) / 2)

        > p, ul, ol
            &:last-child::after
                content: "⧈"
                display: inline
                color: var(--color-red-pink)
                margin-left: 0.25em

        strong
            font-weight: var(--font-weight-bold)

        em
            font-style: italic

        img
            max-width: 100%
            height: auto



.blog-post__categories
    color: var(--color-text-muted)
    font-style: italic

.blog-post__title
    font-weight: var(--font-weight-bold)
    display: inline

    a:hover > &
        text-decoration: underline
        text-decoration-color: var(--color-base)

.blog-post__date
    display: inline-block
    color: var(--color-text-muted)
    // Using a pseudo-element instead of a margin-right
    // gets us exactly one character of space, preserving
    // the monospace grid
    &::before
        content: "\00A0" // non-breaking space

.blog-post-list
    &__item
        margin-bottom: calc(var(--line-height-base) * 3)
