@import ../mixins

.layout-site
    display: grid
    grid-template-rows: auto 1fr
    grid-template-columns: auto var(--site-sidebar-width)
    grid-column-gap: var(--column-gap-base)
    padding: var(--page-padding)
    max-width: 100%

    *
        min-width: 0

    &__header
        grid-column: 1 / 2
        grid-row: 1 / 2

    &__content
        grid-column: 1 / 2
        grid-row: 2 / 3

    &__sidebar
        grid-column: 2 / 3
        grid-row: 1 / 3

    +tiny-dn
        display: block
