.microblog-post
    margin-bottom: calc(var(--line-height-base) / 2)
    padding-bottom: calc(var(--line-height-base) / 2 - 0.1rem)
    border-bottom: 0.1rem solid var(--color-text-muted)

    .microblog-post__content
        blockquote
            margin-left: 0
            padding-left: 1.5ch
            border-left: 0.5ch solid var(--color-transparent-bg-faint)

    .microblog-post__title
        font-style: italic
