%rich-text
    a:visited
        color: var(--color-link-visited)

    p, ul, ol
        margin-top: 0
        margin-bottom: var(--line-height-base)

    li
        margin-bottom: calc(var(--line-height-base) / 2)
        &::marker
            color: var(--color-text-muted)

    ul > li
        list-style-type: "- "

    strong
        font-weight: var(--font-weight-bold)

    em
        font-style: italic

    img
        max-width: 100%
        height: auto

    hr
        margin: 0
        padding: 0
        border: 0
        &::before
            content: "* * *"
            display: block
            margin-bottom: var(--line-height-base)
            color: var(--color-text-muted)

    h1, h2, h3, h4, h5
        &::before
            content: "§"
            display: block
            width: 2ch
            margin-left: -2ch
            float: left
            color: var(--color-text-muted)
            font-style: normal

    // We number h3 as h1 because it is the topmost heading *within* an article
    h3
        color: var(--color-text-striking)
        font-weight: var(--font-weight-bold)

    h4
        font-style: italic

    h5
        color: var(--color-text-muted)

    blockquote
        margin-top: 0
        margin-bottom: 0
        margin-left: 4ch

    // TODO: figure out how to get Observable's markdown to use
    // our markdown processor so that the classnames match
    pre.hljs, pre.observablehq--md-pre
        margin: calc(var(--line-height-base) / 2) -2ch !important
        padding: calc(var(--line-height-base) / 2) 2ch !important
        overflow-x: auto

        +tiny-dn
            margin: calc(-1 * var(--line-height-base) / 2) calc(-1 * var(--page-padding)) calc(var(--line-height-base) / 2) !important
            padding: calc(var(--line-height-base) / 2) var(--page-padding) !important

    pre.hljs, pre.hljs > code, pre.observablehq--md-pre, pre.observablehq--md-pre > code
        font-family: inherit
        background-color: var(--color-background-code) !important

    code
        font-family: inherit
        margin: 0 -0.25ch
        padding: 0.25ch 0.25ch
        background: var(--color-background-code)
        color: var(--color-foreground-code)
        border-radius: 0.4rem

    pre > code, pre > code.hljs
        margin: 0 !important
        padding: 0 !important

    // Provided by markdown-it-container
    .update
        border: 0.1rem solid var(--color-update)
        color: var(--color-update)
        padding:
            top: calc(var(--line-height-base) / 2 - 0.1rem)
            bottom: calc(var(--line-height-base) / 2 - 0.1rem)
            right: calc(2ch - 0.1rem)
            left: calc(2ch - 0.1rem)
        margin: var(--line-height-base) 0
        border-radius: var(--border-radius-base)

        &::before
            display: inline-block
            line-height: calc(var(--line-height-base) - 0.4rem)
            margin: 0.1rem 0
            border: 0.1rem solid var(--color-update)
            padding: 0 1ch
            font-size: 0.8em
            text-transform: uppercase
            content: "Update"
            border-radius: var(--border-radius-base)

        & > :last-child
            margin-bottom: 0
