---
---

$accent-color: #1e6e9a
$font-family: "myriad-pro", "Myriad Pro", Myriad, Helvetica, Arial, sans-serif

a
	color: $accent-color
	border-bottom: 1px solid #E5E5E5

a:hover, a:active, a:focus
	color: darken($accent-color, 10%)
	text-decoration: none
	border-bottom-color: darken(#E5E5E5, 10%)

body, html
	min-height: 100%

body
	font-family: $font-family
	font-size: 18px
	line-height: 1.3889 // 25px
	background: #FFF

h1, h2, h3, h4, h5, h6
	margin-top: 0
	font-weight: 600
	> a, & > a:active, & > a:hover, & > a:focus
		color: inherit

strong, b
	font-weight: 600

.margin-leader
	margin-top: 25px

.text-regular
	font-weight: 400

.nav-pills
	> li > a:hover
		background: none

.site-header
	margin-top: 40px
	text-align: center
	font-weight: normal
	padding-bottom: 39px
	margin-bottom: 40px
	border-bottom: 1px solid #DDD
	position: relative
	@media (max-width: 360px)
		padding-bottom: 19px
		margin-bottom: 20px

	&::after
		content: '\2767'
		display: block
		font-size: 50px
		line-height: 20px
		position: absolute
		bottom: -8px
		left: 50%
		margin-left: -22px
		width: 44px
		background-color: #FFF

.site-title
	font-family: "alternate-gothic-no-1-d", serif
	font-size: 72px
	font-weight: normal
	text-transform: uppercase
	margin: 0
	line-height: .8
	@media (max-width: 360px)
		font-size: 20vw

.site-subtitle
	font-size: 22px
	text-transform: uppercase
	letter-spacing: .08em
	margin: 0
	@media (max-width: 360px)
		font-size: 6.111vw
		
.unstyled-link
	border-bottom: 0
