extends ../base.pug

block styles
    link(rel="stylesheet" href=filters.rev("/static/monotheme/styles.css"))

block scripts
    script(type="text/javascript" src="/static/scripts/index.js")

block body
    .layout-site
        .layout-site__header
            header.site-header
                block header
                    h1.site-header__title
                        = "Hi, I'm "
                        span.site-header__name= "Harris Lapiroff"
                        = "."
        main.layout-site__content
            block main
        .layout-site__sidebar
            block sidebar
