extends monotheme.pug
include mixins/blog-post.pug

block title
    = title

block prepend header
    a.site-header__go-home(href="/") ← Return home

block main
    // This is a bit of javascript to normalize the shape of post data
    -
        const post = {
            title: title,
            content: content,
            date: page.date,
            url: page.url,
            categories: categories,
            tags: tags,
            xposts: xposts,
        }
    // Render the blog post using the blog-post mixin
    +blog-post(post)
