<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Harris Lapiroff: Full-Stack Web Developer</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/styles.css" />
    <script src="//use.typekit.net/brh7efc.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
    <div class="navbar-chromamine">
        <div class="container-800">
            <a {% if page.active == "home" %}class="active"{% endif %} href="/">Home</a>
            <a {% if page.active == "resume" %}class="active"{% endif %} href="/resume/">Resume</a>
            <a {% if page.active == "portfolio" %}class="active"{% endif %} href="/portfolio/">Portfolio</a>
            <a {% if page.active == "hobbies" %}class="active"{% endif %} href="/hobbies/">Hobbies</a>
        </div>
    </div>
    <div class="container-800">
        <header id="hd">
            <h1 class="name">
                Harris Lapiroff
            </h1>
            <h2 class="position">
                Full-Stack Web Developer
            </h2>
        </header>
        <main id="bd">
            {{ content }}
        </main>
    </div>
</body>
</html>
