<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<title>{% if page.title %}{{ page.title }} | {% endif %}Harris Lapiroff{% if page.title == nil %} | Full-Stack Web Developer{% endif %}</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/styles/styles.css">

		<script src="//use.typekit.net/brh7efc.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-5 col-sm-6 bg-watercolor">
					<h1 class="site-title">Harris<br />Lapiroff</h1>
					<div class="list-group">
						<a class="list-group-item" href="/">Home</a>
						<a class="list-group-item" href="/portfolio/">Portfolio</a>
						<a class="list-group-item" href="/resume/">Resume</a>
					</div>
				</div>
				<main id="bd" class="col-lg-8 col-md-7 col-sm-6 margin-leader">
					{{ content }}
				</main>
			</div>
			<footer id="ft">
			</footer>
		</div>
	</body>
</html>
