<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% if page.title %}{{ page.title }} | {% endif %}Harris Lapiroff</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="/static/styles/universal.css" rel="stylesheet">
		{% if layout.stylesheets %}
			{% for stylesheet in layout.stylesheets %}
				<link rel="stylesheet" href="/static/styles/{{ stylesheet }}.css">
			{% endfor %}
		{% endif %}
		{% if page.stylesheets %}
			{% for stylesheet in page.stylesheets %}
				<link rel="stylesheet" href="/static/styles/{{ stylesheet }}.css">
			{% endfor %}
		{% endif %}
		{% if layout.scripts %}
			{% for script in layout.scripts %}
				<script src="/static/scripts/{{ script }}.js"></script>
			{% endfor %}
		{% endif %}
		{% if page.scripts %}
			{% for script in page.scripts %}
				<script src="/static/scripts/{{ script }}.js"></script>
			{% endfor %}
		{% endif %}
	<body>
		{{ content }}
	</body>
</html>
