---
layout: base
---

<header class="page-header">
	<h1 class="page-header__title">Hi, I’m <span class="name">Harris Lapiroff</span>.</h1>
</header>

<main>
	<section class="role-block">
		<header class="role-block__header">
			<h2>I'm a software engineer and manager.</h2>
		</header>
		<div class="role-block__text">
			<p>By day I'm an engineering manager at Freedom of the Press Foundation, coordinating a team maintaining our web projects.</p>
			<p>In my free time I work on a variety of projects with an emphasis on design and data visualization.</p>
			<p>I'm available to hire for short-term contracts.</p>
		</div>
		<div class="role-block__actions">

		</div>
	</section>
	<section class="role-block">
		<header class="role-block__header">
			<h2>I'm a contra dance caller and organizer.</h2>
		</header>
		<div class="role-block__text">
			<p>I've been a contra dancer for 17 years and involved in the organizing of dance events for nearly as long.</p>
			<p>I'm available to hire for dances and private events.</p>
		</div>
		<div class="role-block__actions">

		</div>
	</section>
</main>

<p>
	<a class="unstyled-link" rel="me" href="http://github.com/harrislapiroff"><i class="fa fa-fw fa-brands fa-github"></i> GitHub</a><br />
	<a class="unstyled-link" rel="me" href="http://twitter.com/harrislapiroff"><i class="fa fa-fw fa-brands fa-twitter"></i> Twitter</a><br />
	<a class="unstyled-link" rel="me" href="https://social.coop/@harris"><i class="fa fa-fw fa-brands fa-mastodon"></i> Mastodon</a><br />
	<a class="unstyled-link" rel="me" href="mailto:harris@freedom.press"><i class="fa fa-regular fa-fw fa-envelope"></i> Email</a><br />
</p>