---
layout: base
stylesheets: [monotheme/universal, monotheme/home]
---

{% include header.html %}

<main>
	<div class="pick-a-pill">
		<h2>Looking for something specific?</h2>
		<a href="/tech/" class="pill engineer">
			<h3 class="section-title">I’m a <span class="role">Software Engineer</span>, <span class="role">Manager</span> and <span class="role">Designer</span>.</h3>
			<p>I’m Engineering Manager for Web at Freedom of the Press Foundation and do freelance data processing and visualization.</p>
			<span class="pill-button">Read more or hire me &rarr;</span>
		</a>
		<a href="/dance/" class="pill dancer">
			<h3 class="section-title">I’m a <span class="role">Contra Dance Organizer</span> and&nbsp;<span class="role">Caller</span>.</h3>
			<p>I organize and call contra dances for public and private events.</p>
			<span class="pill-button">Read more or book me &rarr;</span>
		</a>
	</div>

	<section class="blog">
		<h2 class="section-title">This is <span class="role">my blog</span>.</h2>
		{% for post in site.posts limit:3 %}
			{% include blog-post.html post=post %}
		{% endfor %}
	</section>
</main>

<footer>
	Find me also on:
	<ul>
		<li><a class="unstyled-link" rel="me" href="http://github.com/harrislapiroff">GitHub</a></li>
		<li><a class="unstyled-link" rel="me" href="http://twitter.com/harrislapiroff">Twitter</a></li>
		<li><a class="unstyled-link" rel="me" href="https://social.coop/@harris">Mastodon</a></li>
		<li><a class="unstyled-link" rel="me" href="mailto:harris@freedom.press">Email</a></li>
	</ul>
</footer>
