---
layout: base
---

<div class="row">
	<div class="col-md-offset-2 col-md-5 col-sm-12 margin-trailer">
		{{ content }}
	</div>
	<div class="col-md-3 col-sm-12">
		<p>
			<a class="unstyled-link" rel="me" href="http://github.com/harrislapiroff"><i class="fa fa-fw fa-brands fa-github"></i> GitHub</a><br />
			<a class="unstyled-link" rel="me" href="http://twitter.com/harrislapiroff"><i class="fa fa-fw fa-brands fa-twitter"></i> Twitter</a><br />
			<a class="unstyled-link" rel="me" href="https://social.coop/@harris"><i class="fa fa-fw fa-brands fa-mastodon"></i> Mastodon</a><br />
			<a class="unstyled-link" rel="me" href="mailto:harris@freedom.press"><i class="fa fa-regular fa-fw fa-envelope"></i> Email</a><br />
		</p>
	</div>
</div>
