---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - posts
    - all
permalink: "| tags/#{ filters.slugify(tag) }/"
layout: monotheme/page.pug
---

include _layouts/monotheme/mixins/archive-list.pug
- const posts = collections[tag]

h2
    = "Posts tagged with “"
    = tag
    = "”"

+archive-list(posts)
