---
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Harris Lapiroff | Contra Dance</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
        <link href="/contra/static/styles/styles.css" rel="stylesheet">
        <script src="/contra/static/scripts/all.js"></script>
    <body>
        <header>
            <figure class="heading-video">
                <video class="heading-video__video" id="heading-video" src="/contra/media/signal-2023-03-26-21-53-39-023.mp4" autoplay loop muted aria-hidden playsinline tabindex="-1"></video>
                <figcaption class="heading-video__caption">
                    BIDA in Cambridge with Countercurrent. Video by Emma Azelborn.
                    <a href="#" data-mute-target="heading-video" />Unmute</a>
                </figcaption>
            </figure>
            <h1>I'm <span class="name">Harris Lapiroff</span>, a <span class="role">contra dance caller</span> and <span class="role">organizer</span>.</h1>
        </header>
        <main>
            <section class="calling">
                <h2>Calling</h2>
                <p>I'm available to call contra dance evenings and private events. Email: <a href="mailto:contra@chromamine.com">contra@chromamine.com</a></p>
                <div class="upcoming">
                    <h3 class="sr-only">Upcoming</h3>
                    <ul>
                        {% for dance in site.data.contra.caller.upcoming %}
                            <li>
                                <h4><a href="{{ dance.url }}">{{ dance.name }}</a></h4>
                                <div class="date">
                                    <span class="month">{{ dance.date | date: "%b" }}</span>
                                    <span class="day">{{ dance.date | date: "%d" }}</span>
                                    <span class="dow">{{ dance.date | date: "%a" }}</span>
                                </div>
                                {% if dance.band %}
                                    {% if dance.bandURL %}
                                        <div class="band">with <a href="{{ dance.bandURL }}">{{ dance.band }}</a></div>
                                    {% else %}
                                        <div class="band">with {{ dance.band }}</div>
                                    {% endif %}
                                {% endif %}
                                {% if dance.description %}
                                    <div class="description">{{ dance.description|markdownify }}</div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    <p>
                        Subscribe:
                        <a href="webcal://chromamine.com/contra/events.ics">Webcal</a> |
                        <a href="https://www.google.com/calendar/render?cid=webcal://chromamine.com/contra/events.ics">Google Calendar</a>
                    </p>
                </div>
            </section>

            <section class="organizing">
                <h2>Organizing</h2>

                <div class="current">
                    <h3 class="sr-only">Current</h3>
                    <ul>
                        {% for org in site.data.contra.organizer.current %}
                            <li>
                                <a href="{{ org.url }}">
                                    <h4>{{ org.name }}</h4>
                                    <p>{{ org.description|markdownify }}</p>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="past">
                    <h3>Past</h3>
                    <ul>
                        {% for org in site.data.contra.organizer.past %}
                            <li>
                                <a href="{{ org.url }}">
                                    <h4>{{ org.name }}</h4>
                                    <p>{{ org.description|markdownify }}</p>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </main>
    </body>
</html>
